


.contenedorSections{
    background-color: rgb(3 41 48);
}
#nav{
    background-color: rgb(3 41 48);
}
.img-portada{
    width: 100%;
    height: 90vh;
}
/* section{
    overflow: hidden;
} */

.img-releases{
    width: 200px;
}

.buttons{
    background-color: #00b27d;
    color: #fff;
    padding: 10px 100px;
    text-decoration: none;
    border:solid 1px #fff;
}

footer{
    background-color: rgb(3 41 48);
    padding-bottom: 280px;
}



#rrss{
    color: white;
}